/*for the styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--primary-color: #1a90d4;
--secondary-color: #ac14c0;
--tertiary-color: #aaaaaa;
--white-color: #ffffff;
--correct-color: #6b8e23;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    width:60%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/*for the header*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
}

.scores a,
.timer  {
    font-size: 20px;
}

.scores a {
    color: var(--secondary-color);
}

.scores:hover {
    color: var(--tertiary-color);
}

/*start quiz*/
.start-quiz {
    text-align: center;
}

h1{
    margin-bottom: 12px;
}

h2 {
    color: var(--tertiary-color);
    border-top: 1px solid var(--tertiary-color);
    margin: 20px 0;
    font-style: italic;
    text-align: center;
  }
/*for the buttons*/
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }

button {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: auto;
    overflow: visible;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    font-size: large;
    margin: 10px;
    color: var(--white-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

.hidden {
    display: none;
}

.btn.correct {
    background-color: var(--correct-color);
}

.btn.wrong {
    background-color: var(--tertiary-color);
}

